<div class="grid-container login-block">

  <div class="grid-row ">
    <div class="tablet:grid-col-6 tablet:grid-offset-3 desktop:grid-col-4 desktop:grid-offset-4">
      <div class='text-center'>
        <div>
          <h2 class='hospital-dest-title'>Hospital</h3>
          <h2 class='hospital-dest-title'>destination tool</h3>
        </div>
        
          <p> Start by entering your login information below.</p>
      </div>

     
      <form method="post" action="/auth/local/login" class="usa-form">
        <div class="usa-form-group">
          <label for="username" class="usa-label" id='email-label' ><h6 style='color:red; padding:0; display: inline; padding-right:0.5%'>*</h6>Email</label>
          <input type="email" id="email" name="username" value="<%= locals.username %>" placeholder="name@email.com" class="usa-input" />
        </div>
        <div class="usa-form-group">
          <label for="password" class="usa-label" id='password-label'><h6 style='color:red; padding:0; display: inline; padding-right:0.5%'>*</h6> Password</label>
          <input type="password" name="password" class="usa-input" id="password" />
          <!-- <input type="password" name="password" class=`${class_var}` /> -->
        </div>
        <div class='login-submit-btn-div'>
            <div>
              <h6 id='password_error_message' class='password_message'>This is a required section</h6>
              <h6 id='password_message_success' class='password_message'>Success</h6>
                    
                    <% if (locals.unauthorized) { %>
                          <div class="alert alert-danger">
                            Invalid email and/or password.
                          </div>
                          <% } %>
                          <% if (locals.ok) { %>
                          <div class="alert alert-danger">
                            success
                          </div>
                          <% } %> 
            </div>
          <div class='button-container'>
            <button id='login_submit' class="usa-button" type="submit">Submit</button>
           
          </div>
        
  
            
        </div>
        <p class="text-center">or</p>
        <p class="text-center"><a href="/auth/saml/login">Log in using SAML SSO</a></p>
      </form>
    </div>
  </div>
    <script src="/login_validations.js"></script>
</div>
