version: '2.3'
services:
  db:
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
  server:
    command: bash -l -c "yarn start:dev"
    volumes:
      - .:/opt/node/app
      - /opt/node/app/node_modules
  idp:
    image: kristophjunge/test-saml-idp
    ports:
      - 8080:8080
    environment:
      - SIMPLESAMLPHP_SP_ENTITY_ID=bats-server
      - SIMPLESAMLPHP_SP_ASSERTION_CONSUMER_SERVICE=http://localhost:3000
