version: 2.1

orbs:
  node: circleci/node@4.0.0
  docker: circleci/docker@1.4.0

jobs:
  build-and-test:
    docker:
      - image: cimg/node:18.10.0
        environment:
          DATABASE_URL: 'postgres://postgres@localhost/bats'
      - image: cimg/postgres:12.12
        environment:
          POSTGRES_HOST_AUTH_METHOD: trust
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: yarn install && e2e/node_modules/.bin/playwright install-deps && e2e/node_modules/.bin/playwright install chromium
      - run:
          command: yarn workspace server sequelize db:create && yarn workspace server sequelize db:create --env test
      - run:
          command: yarn workspace server sequelize db:migrate && yarn workspace server sequelize db:migrate --env test
      - run:
          command: yarn workspace server sequelize db:seed:all
      - run:
          command: eval $(cat example.env | grep -v DATABASE_URL | sed 's/^/export /'); yarn run test

workflows:
  test:
    jobs:
      - build-and-test
