version: 2.1

orbs:
  node: circleci/node@4.0.0
  docker: circleci/docker@1.4.0

jobs:
  build-and-test:
    docker:
      - image: cimg/node:14.4.0
        environment:
          DATABASE_URL: "postgres://postgres@localhost/bats"
      - image: circleci/postgres:12
        environment:
          POSTGRES_HOST_AUTH_METHOD: trust
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: yarn run sequelize db:create --env test
      - run:
          command: yarn run sequelize db:migrate --env test
      - run:
          command: export $(cat example.env | grep SAML_ | xargs)
      - run:
          command: yarn run test

workflows:
  test:
    jobs:
      - build-and-test
