@import '~uswds/dist/scss/packages/required';
@import '../../theme/uswds-theme-color';

$row-height: 5rem;

.hospitalstatusrow__name-container {
  border: 1px solid color($theme-color-base-lighter);
  justify-content: left;
  height: $row-height;
  display: flex;
}
.hospitalstatusrow__name {
  @include u-text('normal');
}

.hospitalstatusrow__data-container {
  border: 1px solid color($theme-color-base-lighter);
  height: $row-height;
  display: flex;
}

.hospitalstatusrow__data {
  // TODO - make text red if diversion == true or beds == 0
}
