@import '~uswds/dist/scss/packages/required';

$rotation-deg: 60deg;

@mixin rotate {
  transform: rotate($rotation-deg);
  -webkit-transform: rotate($rotation-deg);
  -moz-transform: rotate($rotation-deg);
  -ms-transform: rotate($rotation-deg);
  -o-transform: rotate($rotation-deg);
}

.header__column-name {
  @include u-text('base-light');
  @include u-text('normal');
  @include u-text('no-wrap');
  // @include rotate;
}

.header__column-container {
  width: 20%;
  display: flex;
  align-items: flex-end;
}

.header__container {
  height: 200px;
}
