@import '~uswds/dist/scss/packages/required';
@import '../../theme/uswds-theme-color';
@import '../../theme/uswds-theme-custom-mixins';

.ringdownstatus__label {
  color: color($theme-color-base-light);
  margin: 0;
  span {
    border-radius: 0.25rem;
    color: color($theme-color-base-ink);
    display: inline-block;
    font-weight: bold;
    height: 1.5rem;
    padding: 0 0.25rem;
  }
}

[class*=' ringdownstatus__label--'] {
  margin-top: 0.75rem;
}

.ringdownstatus__label--pending,
.ringdownstatus__label--delivered {
  span {
    background-color: #ffecba;
    color: #df7800;
  }
}

.ringdownstatus__label--confirmed {
  span {
    background-color: #d5fec7;
    color: #007922;
  }
}

.ringdownstatus {
  .usa-fieldset + .usa-fieldset {
    padding-top: 1.5rem;
  }

  .usa-fieldset:last-child {
    background-color: color($theme-color-base-lightest);
  }
}
