<div class="grid-container">
  <div class="grid-row">
    <div class="grid-col-10 grid-offset-1 tablet:grid-col-6 tablet:grid-offset-3 desktop:grid-col-4 desktop:grid-offset-4">
      <div class="text-center margin-top-6 margin-bottom-8">
        <h1 class="hospital-dest-title"><img src="/img/logomark-300.png" class="logo" alt="Routed logo"></h1>
        <h4 class="text-base-light">Start by entering your<br />email and password below.</h4>
      </div>
      <% if (locals.unauthorized) { %>
        <div class="usa-alert usa-alert--error usa-alert--slim usa-alert--no-icon margin-bottom-3" >
          <div class="usa-alert__body">
            <p class="usa-alert__text">Invalid email and/or password.</p>
          </div>
        </div>
      <% } %>
      <form method="post" action="/auth/local/login" id="login" class="usa-form">
        <div class="usa-form-group margin-y-4">
          <label for="username" class="usa-label usa-label--required">Email</label>
          <input type="email" id="username" name="username" value="<%= locals.username %>" placeholder="name@email.com" class="usa-input" />
        </div>
        <div class="usa-form-group margin-y-4">
          <label for="password" class="usa-label usa-label--required">Password</label>
          <input type="password" id="password" name="password" class="usa-input" />
        </div>
        <button type="submit" class="usa-button width-full">Login</button>
      </form>
    </div>
  </div>
  <script src="/scripts/login.js"></script>
</div>
