@import '~uswds/dist/scss/packages/required';
@import '../../theme/_uswds-theme-color';
@import '../../theme/_uswds-theme-components';

.usa-card__container { 
    width: 500px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.usa-card__header > :only-child, .usa-card__body > :only-child {
    float: left; 
}

.usa-card__body > :only-child { 
    font-size: 20px;
}

// To make a line above the time and more info dropdown tab
.line{ 
    border: 1px solid #DCDEE0;
}

// .header__time {
//     color: #858889;
//     padding: 0; 
//     padding-bottom: 20px;
// }

.usa-card__footer { 
    display: inline-block;
}

.eta-arrival-time { 
    float: left;
    margin: .5rem; /* This value plus the left to right padding * 2 == final flex value */
    // padding: 2rem .25rem; /* Padding given for example on inner element */  
    flex: 50%;
    display: flex;
}