@import '~uswds/dist/scss/packages/required';
@import '../../theme/uswds-theme-custom-mixins';

.DiversionPopup {
  position: fixed;
  width: 320px;
  height: 100%;
  top: 38px;
  left: -7px;
  right: 0;
  bottom: -10px;
  margin: auto;
  // padding: 0px 16px 0px 0px;
}
// position: absolute;
// width: 320px;
// left: -7px;
// top: 38px;
// bottom: -10px;
