@import '~uswds/dist/scss/packages/required';
@import '../../theme/uswds-theme-custom-mixins';
@import '../../theme/uswds-theme-color';

.drawer__content {
  display: none;
}

.drawer__handle {
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0.75rem;

  &:focus {
    border: inherit;
    outline: inherit;
  }
}

.drawer__prompt {
  @include h4;
  color: color($theme-color-primary);
  font-weight: 600;
}

.drawer--opened {
  .drawer__content {
    display: block;
  }
}
