@import '../../theme/base';

.form-radio-field-set {
  padding: 1rem 0;

  .usa-error-message,
  .usa-success-message {
    position: relative;
  }
}

.form-radio-field-set__background {
  padding: 0.5rem 1.5rem;
}

.form-radio-field-set {
  & + .form-radio-field-set,
  & + .usa-fieldset {
    padding-top: 0;
  }
}

.form-radio-field-set--error .form-radio-field-set__background {
  background-color: color('error-lighter');
}

.form-radio-field-set--success .form-radio-field-set__background {
  background-color: color('success-lighter');
}
