@import '../theme/base';

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: color($theme-color-primary-dark);
  color: white;
}

.header__logout {
  padding: 0.5rem 1.5rem 0;
  position: absolute;
  a {
    color: white;
  }
}

.header__name {
  margin: 0;
  padding: 1rem 1.5rem 1.5rem;
  text-align: center;
}

.header__time {
  margin: 0;
  padding: 0.5rem 1.5rem 0;
  text-align: right;
  font-feature-settings: 'tnum' 1;
}
