@import '~uswds/dist/scss/packages/required';
@import '../../theme/uswds-theme-custom-mixins';
@import '../../theme/uswds-theme-color';

.ringdown-details {
  margin: 0;
  td,
  th {
    @include h4;
    border-color: color($theme-color-base-lighter);
    background: color($theme-color-base-lightest);
  }

  td {
    padding-left: 0.75rem;
    text-align: left;
    background: color($theme-color-base-lightest);
  }

  th {
    color: color($theme-color-base-light);
    vertical-align: top;
    padding-left: 0.75rem !important;
  }

  th[colspan='2'] {
    @include h4-bold;
    border-bottom-color: transparent;
    color: color($theme-color-base-ink);
  }

  tr:first-child {
    td,
    th {
      border-top: 0;
    }
  }
  tr:last-child {
    td,
    th {
      border-bottom: 0;
    }
  }
}
