@import '~uswds/dist/scss/packages/required';
@import '../../theme/uswds-theme-custom-mixins';
@import '../../theme/uswds-theme-color';

.ringdown-card {
  .drawer {
    margin: -1rem -1.5rem;
  }

  .ringdown-details tr:first-child {
    td,
    th {
      &:first-child {
        border-top-left-radius: 0.25rem;
      }
      &:last-child {
        border-top-right-radius: 0.25rem;
      }
    }
  }
}

.ringdown-card__eta {
  @include h4-italic;
  color: color($theme-color-base-light);
}

.ringdown-card--offloaded {
  &.usa-card__container {
    background-color: color($theme-color-success-lighter);
  }
  .ringdown-card__eta {
    color: color($theme-color-base-ink);
  }
}

.ringdown-card--cancelled {
  &.usa-card__container {
    background-color: color($theme-color-warning);
  }
}

.ringdown-cancel {
  display: flex;
  justify-content: space-between;
}
