@import '~uswds/dist/scss/packages/required';
@import '../../theme/uswds-theme-custom-mixins';
@import '../../theme/uswds-theme-color';

.ringdown-card {
  background-color: white;
  border: 1px solid color($theme-color-base-light);
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}

.ringdown-card__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0.75rem;
}

.ringdown-card__body {
  align-items: center;
  display: flex;
  margin: 0.75rem;
  color: color($theme-color-base);
  @include h3;
}

.ringdown-card__header button {
  border: none;
  color: color($theme-color-primary);
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
}

.ringdown-card__status {
  @include h4-bold;
}

.ringdown-card--dismissable {
  background: color($theme-color-base-lightest);
}

.ringdown-card--expanded {
  border: 2px solid color($theme-color-primary-vivid);
}

.ringdown-card--offloaded,
.ringdown-card--redirected,
.ringdown-card--cancelled {
  .ringdown-card__status {
    border-radius: 4px;
    color: white;
    padding: 0px 4px;
  }
}

.ringdown-card--offloaded {
  .ringdown-card__status {
    background-color: color($theme-color-success);
  }
}

.ringdown-card--redirected {
  .ringdown-card__status {
    background-color: color($theme-color-accent-warm);
  }
}

.ringdown-card--cancelled {
  .ringdown-card__status {
    background-color: color($theme-color-error);
  }
}
