@import '~uswds/dist/scss/packages/required';
@import '../../theme/uswds-theme-color';

.tabbar {
  border-top: 1px solid color($theme-color-primary-darker);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
}

.tabbar__tab {
  align-items: center;
  background-color: color($theme-color-primary);
  border-bottom: 0.1875rem solid color($theme-color-primary);
  border-left: none;
  border-right: none;
  border-top: none;
  color: color($theme-color-primary-light);
  cursor: pointer;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  height: 2.75rem;
  justify-content: center;
  padding: 0;
}

.tabbar__tab--selected {
  border-bottom-color: white;
  color: white;
}
