.hospital-dest-title{
  font-weight: bold;
  line-height:0.5em;
  font-size: 2.5em;
}

#login_submit{
  background-color: #DDDEE0;
  width: 100%;

}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-submit-btn-div{
  position: relative;

}

.password_error{
  border: 2px solid red;
}
.password_message{
  display: none;
}
.password_message_error{
  color:red;
  display: block;
}
.password_message_success{
  color: #80D48D;
  display: block;
}
.password_success{
  display: none;
}

.password-label{
  color:#80D48D;
}
.success{
  border: 2px solid #80D48D;
}

.email_populated{
  border: 2px solid blue;
}

.email_label_valid{
  color: blue;
}