/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@import 'uswds-theme-custom-mixins';

h1,
.h1 {
  @include h1;
}

h2,
.h2 {
  @include h2;
}

h3,
.h3 {
  @include h3;
}

h4,
.h4 {
  @include h4;
}

.h4-bold {
  @include h4-bold;
}

.h4-italic {
  @include h4-italic;
}

input,
select,
textarea {
  &.usa-input--disabled {
    border-color: color($theme-color-base-lighter);
  }
  &:not([disabled]):not(.usa-input--error):not(.usa-input--success):focus {
    @include focus-shadow();
  }
  &.usa-input--error:not([disabled]):focus {
    @include error-shadow();
  }
  &.usa-input--success:not([disabled]):focus {
    @include success-shadow();
  }
}

iframe,
[href],
[tabindex],
[contentEditable='true'] {
  &:focus {
    @include focus-shadow();
  }
}

.usa-focus {
  @include focus-shadow();
}

.flex-row {
  & > .usa-checkbox .usa-checkbox__label,
  & > .usa-radio .usa-radio__label {
    margin-top: 0;
  }
}

.grid-container {
  padding-left: 0;
  padding-right: 0;
}

// animated spinner taken from Bootstrap

$spinner-width: 2rem;
$spinner-height: 2rem;
$spinner-border-width: 0.25em;

$spinner-width-sm: 1rem;
$spinner-height-sm: 1rem;
$spinner-border-width-sm: 0.2em;

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: $spinner-width;
  height: $spinner-height;
  vertical-align: text-bottom;
  border: $spinner-border-width solid currentColor;
  border-right-color: transparent;
  // stylelint-disable-next-line property-blacklist
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
}

.spinner-border-sm {
  width: $spinner-width-sm;
  height: $spinner-height-sm;
  border-width: $spinner-border-width-sm;
}

.status-list {
  list-style-type: none;
  padding: 0;
}

.status-list-item {
  @include h3;
  align-items: center;
  color: color($theme-color-base-light);
  display: flex;
  height: 4.5rem;
}

.status-list-item__icon {
  height: 4.5rem;
  position: relative;
  width: 2.875rem;
}

.status-list-item__icon::before {
  background-color: color($theme-color-base-lighter);
  content: ' ';
  display: block;
  height: 100%;
  left: 1.125rem;
  position: absolute;
  top: 0;
  width: 2px;
}

.status-list-item__icon::after {
  background-color: white;
  border: 2px solid color($theme-color-base-lighter);
  border-radius: 50%;
  content: ' ';
  display: block;
  height: 1.375rem;
  left: 0.5rem;
  position: absolute;
  top: 1.5625rem;
  width: 1.375rem;
}

.status-list-item__text {
  flex-grow: 1;
  span {
    @include h4;
    color: color($theme-color-base-light);
    display: block;
    position: absolute;
  }
}

.status-list-item:first-child .status-list-item__icon::before {
  top: 50%;
  height: 50%;
}

.status-list-item:last-child .status-list-item__icon::before {
  height: 50%;
}

.status-list-item--noninteractive .status-list-item__icon::after {
  background-color: color($theme-color-base-lighter);
  height: 0.75rem;
  left: 0.8125rem;
  top: 1.875rem;
  width: 0.75rem;
}

.status-list-item--completed .status-list-item__icon::before {
  background-color: color($theme-color-primary);
}

.status-list-item--completed {
  color: color($theme-color-base-ink);
}

.status-list-item--completed .status-list-item__icon::after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  background-color: color($theme-color-primary);
  border-color: color($theme-color-primary);
  color: white;
  content: '\f00c';
  display: flex;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 0.875rem;
  font-style: normal;
  font-variant: normal;
  justify-content: center;
  line-height: 1;
  text-rendering: auto;
}

.usa-accordion__heading {
  @include h2;
  border-bottom: 1px solid color($theme-color-base-lighter);
  padding: 1.25rem 1.5rem 0.5rem;

  span {
    @include h4-italic;
    display: block;
    color: color($theme-color-base-light);
  }
}

.usa-accordion__content {
  overflow: initial;
  padding: 0;
}

.usa-alert__heading {
  @include h2;
}

.usa-alert--info {
  background-color: color($theme-color-primary-lighter);
}

.usa-button--outline.usa-button--secondary {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px color($theme-color-secondary);
  color: color($theme-color-secondary);
}

.usa-card__container {
  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

.usa-card__header {
  @include h4;
  background-color: white;
  color: color($theme-color-base-light);
  margin: 0.25rem 0.25rem 0;
  padding: 0.75rem 1.25rem 0;
}

.usa-card__body {
  @include h3;
  background-color: white;
  margin: 0 0.25rem;
  padding: 0 1.25rem 1rem;
}

.usa-card__footer {
  border-top: 1px solid color($theme-color-base-lighter);
  padding: 1rem 1.5rem;

  &:first-child {
    border-top: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
}

.usa-checkbox__label,
.usa-radio__label {
  margin-top: 1.5rem;
}

.usa-combo-box__clear-input {
  display: none !important;
}

.usa-error-message {
  color: color($theme-color-error);
  font-weight: normal;
}

.usa-error-message,
.usa-success-message {
  position: absolute;
}

.usa-fieldset {
  padding: 1.5rem;
}

.usa-fieldset + .usa-fieldset {
  padding-top: 0.5rem;
}

.usa-fieldset > .usa-button:first-child,
.usa-fieldset > .usa-checkbox:first-child .usa-checkbox__label,
.usa-fieldset > .usa-radio:first-child .usa-radio__label {
  margin-top: 0;
}

.usa-fieldset > .usa-label + .usa-checkbox .usa-checkbox__label,
.usa-fieldset > .usa-label + .usa-radio .usa-radio__label {
  margin-top: 1rem;
}

.usa-form {
  @include at-media('mobile-lg') {
    max-width: none;
  }

  .usa-alert::before {
    display: none;
  }

  .usa-button {
    margin-top: 2rem;
  }
}

.usa-hint--important {
  color: color($theme-color-primary-vivid);
}

.usa-hint--unit {
  color: color($theme-color-base-light);
  font-size: 1.25rem;
}

.usa-combo-box__input,
.usa-input,
.usa-select,
.usa-textarea {
  @include h3;
  border-radius: 0.25rem;
  margin-top: 0;

  & + div.usa-hint {
    margin-top: 0.125rem;
  }

  &.usa-input--error {
    @include error-shadow();
  }

  &.usa-input--success {
    @include success-shadow();
  }
}

.usa-label {
  @include h4-bold;
  margin-top: 2rem;
  &:first-child {
    margin-top: 0;
  }

  &.usa-label--error {
    color: color($theme-color-error);
  }

  &.usa-label--success {
    color: color($theme-color-success);
  }
}

.usa-label--required {
  color: inherit;
  position: relative;
  &::before {
    @include u-text($theme-color-secondary-dark);
    content: '*\00a0';
    position: absolute;
    right: 100%;
  }
}

.usa-label--focused {
  color: color($theme-color-primary-vivid);
}

.usa-success-message {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  color: color($theme-color-success);
  display: block;
}
