/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

.grid-container {
  padding-left: 0;
  padding-right: 0;
}

.usa-accordion__button {
  background-image: none;
  font-size: 1.3125rem;
  font-weight: 700;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  &:disabled {
    &:hover {
      @include u-bg($theme-color-base-lightest);
    }
  }
}

.usa-accordion__content {
  padding: 0;
}

.usa-alert::before {
  display: none;
}

.usa-alert--info {
  background-color: color($theme-color-primary-lighter);
}

.usa-checkbox__label,
.usa-radio__label {
  margin-top: 1.5rem;
}

.usa-fieldset {
  padding: 1.5rem;
}

.usa-fieldset + .usa-fieldset {
  border-top: 1px solid color($theme-color-base-lighter);
}

.usa-fieldset > .usa-button:first-child,
.usa-fieldset > .usa-checkbox:first-child .usa-checkbox__label,
.usa-fieldset > .usa-radio:first-child .usa-radio__label {
  margin-top: 0;
}

.usa-form {
  @include at-media('mobile-lg') {
    max-width: none;
  }

  .usa-button {
    margin-top: 2rem;
  }
}

.usa-hint--important {
  color: color($theme-color-primary-vivid);
}

.usa-hint--inline,
.usa-input--inline {
  margin-top: 1.5rem !important;
}

.usa-hint--unit {
  color: color($theme-color-base-light);
  font-size: 1.25rem;
}

.usa-input,
.usa-textarea {
  border-radius: 0.25rem;
  margin-top: 0;

  & + div.usa-hint {
    margin-top: 0.125rem;
  }
}

.usa-label {
  margin-top: 2rem;
  &:first-child {
    margin-top: 0;
  }
}

.usa-label--required {
  color: inherit;
  &::before {
    @include u-text($theme-color-secondary-dark);
    content: '* ';
  }
}
