/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@mixin h2 {
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.5rem;
}

.h2 {
  @include h2;
}

@mixin h3 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5625rem;
}

.h3 {
  @include h3;
}

@mixin h4 {
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5rem;
}

.h4 {
  @include h4;
}

a.h4 {
  font-weight: 600;
}

@mixin h4-bold {
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.5rem;
}

.h4-bold {
  @include h4-bold;
}

@mixin focus-shadow {
  outline: none;
  border: 2px solid color($theme-color-primary-vivid);
}

input,
select,
textarea,
button {
  &:not([disabled]) {
    &:focus {
      @include focus-shadow();
    }
  }
}

iframe,
[href],
[tabindex],
[contentEditable='true'] {
  &:focus {
    @include focus-shadow();
  }
}

.usa-focus {
  @include focus-shadow();
}

.flex-row {
  & > .usa-checkbox .usa-checkbox__label,
  & > .usa-radio .usa-radio__label {
    margin-top: 0;
  }
}

.grid-container {
  padding-left: 0;
  padding-right: 0;
}

.usa-accordion__heading {
  @include h2;
  border-bottom: 1px solid color($theme-color-base-lighter);
  padding: 1.25rem 1.5rem 0.5rem;
}

.usa-accordion__content {
  padding: 0;
}

.usa-alert::before {
  display: none;
}

.usa-alert--info {
  background-color: color($theme-color-primary-lighter);
}

.usa-checkbox__label,
.usa-radio__label {
  margin-top: 1.5rem;
}

.usa-fieldset {
  padding: 1.5rem;
}

.usa-fieldset + .usa-fieldset {
  border-top: 1px solid color($theme-color-base-lighter);
}

.usa-fieldset > .usa-button:first-child,
.usa-fieldset > .usa-checkbox:first-child .usa-checkbox__label,
.usa-fieldset > .usa-radio:first-child .usa-radio__label {
  margin-top: 0;
}

.usa-form {
  @include at-media('mobile-lg') {
    max-width: none;
  }

  .usa-button {
    margin-top: 2rem;
  }
}

.usa-hint--important {
  color: color($theme-color-primary-vivid);
}

.usa-hint--unit {
  color: color($theme-color-base-light);
  font-size: 1.25rem;
}

.usa-input,
.usa-textarea {
  @include h3;
  border-radius: 0.25rem;
  margin-top: 0;

  & + div.usa-hint {
    margin-top: 0.125rem;
  }
}

.usa-label {
  @include h4-bold;
  margin-top: 2rem;
  &:first-child {
    margin-top: 0;
  }
}

.usa-label--required {
  color: inherit;
  &::before {
    @include u-text($theme-color-secondary-dark);
    content: '* ';
  }
}

.usa-label--focused {
  color: color($theme-color-primary-vivid);
}
