.modalOverlay {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.modal {
    z-index: var(--modalIndex);
    position: fixed;
    top: 50%;
    left: 50%;
    border: solid;
    border-radius: 5px;
    background: white;
    padding: 10px;
}

.modal {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    border: solid;
    border-radius: 5px;
    background: white;
    padding: 10px;
}