.RingDownInfo {
  position: relative;
  left: 2em;
  width: 320px;
  height: 132px;
  font-size: 16px;
  color: #71767A;
  /* border-bottom: 1px solid #DCDEE0; */
}
#unitLabel {
  position: relative;
  left: -30px;
  top: -21px;
  width: 272px;
  height: 24px;
  text-align: left;
}
 #unit {
  position: relative;
  left: -82px;
  top: 34px;
  width: 140px;
  height: 36px; 
}
#incidentLabel {
  position: relative;
  left: -279px;
  top: 61px;
  width: 272px;
  height: 24px;
  text-align: left;
}
#incidentId {
  position: relative;
  left: 217px;
  top: -23px;
  width: 140px;
  height: 36px; 
}
.title {
  position: relative;
  left: -1px;
  text-align: left;
  font-size: 16px;
  color: #3D4551;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  width: 320px;
  padding-left: 10px;
}
#ageLabel {
  position: relative;
  left: -27px;
  top: -23px;
  font-size: 16px;
}
#age {
  position: relative;
  left: -123px;
  top: 33px;
  height: 36px;
  width: 64px;
  border-radius: 4px;
}
#maleLabel {
  position: relative;
  top: 23px;
  left: 1px;
  font-size: 16px;
}
#male {
  position: relative;
  top: 5px;
  left: -98px;
  height: 22px;
  width: 22px;
}
#femaleLabel {
  position: relative;
  top: 62px;
  left: -116px;
  font-size: 16px;
}
#female {
  position: relative;
  top: 5px;
  left: -112px;
  height: 22px;
  width: 22px;
}
#non-binaryLabel {
  position: relative;
  top: 97px;
  left: -228px;
  font-size: 16px;
}
#non-binary {
  position: relative;
  top: -30px;
  left: 177px;
  height: 22px;
  width: 22px;
}
#code2Label {
  position: relative;
  top: 97px;
  left: -1px;
  font-size: 16px;
}
#code2 {
  position: relative;
  top: 4px;
  left: -146px;
  height: 22px;
  width: 22px;
}
#code3Label {
  position: relative;
  top: 134px;
  left: -170px;
  font-size: 16px;
}
#code3 {
  position: relative;
  top: 4px;
  left: -146px;
  height: 22px;
  width: 22px;
}
#complaintLabel {
  position: relative;
  top: 186px;
  left: -5px;
  font-size: 16px;
}
#complaint {
  position: relative;
  top: 4px;
  left: -5px;
  height: 136px;
  width: 268px;
}
#stableLabel {
  position: relative;
  top: 213px;
  left: -1px;
  font-size: 16px;
}
#stable {
  position: relative;
  top: 4px;
  left: -161px;
  height: 22px;
  width: 22px;
}
#unstableLabel {
  position: relative;
  top: 248px;
  left: -175px;
  font-size: 16px;
}
#unstable {
  position: relative;
  top: -33px;
  left: 127px;
  height: 22px;
  width: 22px;
}
.patientInfo {
  display: none;
}
#patientDisplay {
  position: relative;
  top: -64px;
  left: 301px;
  border: none;
  background-color: white;
  font-size: 16px;
}
#vitalsDisplay {
  position: relative;
  top: -109px;
  left: 301px;
  background-color: white;
  border: none;
  font-size: 16px;
}
#vitalsDisplay2 {
  position: relative;
  top: 313px;
  left: 303px;
  background-color: white;
  border: none;
  font-size: 16px;
}
.vitalsInfo {
  display: none;
}
#vitals {
  position: relative;
  top: -59px;

  text-align: left;
}
#vitals2 {
  position: relative;
  top: 353px;
   
}
#bpLabel{
  position: relative;
  top: -70px;
  left: -221px;
  font-size: 16px;
  margin: 204px;
}
#bp {
  position: relative;
  top: 4px;
  left: 174px;
  width: 168px;
  height: 36px;
}
#saveButton{
  position: relative;
  top: 414px;
  left: 25px;
  background-color: #005EA2;
  color: white;
  width: 272px;
  height: 44px;
}
#pulseLabel {
  position: relative;
  top: -67px;
  left: -58px;
  margin: 45px;
}
#pulse {
  position: relative;
  top: 32px;
  left: -109px;
  width: 112px;
  height: 36px;
}
#respiratoryLabel {
  position: relative;
  top: -29px;
  left: -201px;
  margin: 190px;
}
#respiratory {
  position: relative;
  top: 4px;
  left: 159px;
  width: 168px;
  height: 36px;
}
#spo2Label {
  position: relative;
  top: -29px;
  left: -201px;
  margin: 190px;
}
#spo2 {
  position: relative;
  top: 4px;
  left: 159px;
  width: 88px;
  height: 36px;
}
#RALabel {
  position: relative;
  top: -18px;
  left: 69px;
  font-size: 16px;
}
#RA {
  position: relative;
  top: 5px;
  left: -121px;
  height: 22px;
  width: 22px;
}
#O2Label {
  position: relative;
  top: 25px;
  left: -92px;
  font-size: 16px;
}
#O2 {
  position: relative;
  top: 4px;
  left: -121px;
  height: 22px;
  width: 22px;
}
#tempLabel {
  position: relative;
  top: 53px;
  left: -201px;
  margin: 190px;
}
#temp {
  position: relative;
  top: 4px;
  left: 159px;
  width: 88px;
  height: 36px;
}
/* .infoAge {
  height: 100px;
}  */
