@import '~uswds/dist/scss/packages/required';
@import '../../theme/uswds-theme-custom-mixins';

.admin__user {
   text-align: center;
}

.admin__user__gray {
    background-color: rgb(241, 241, 241);
}

.admin__user__name {
    color: blue;
}
