.adminnav_logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: darkgray;
  margin: -3% 0% -6.7% 4%;
}

.adminnav_hospital_name {
  margin: 0% 0% 0% 15%;
}

.adminnav_edit_profile {
  margin: 0% 13% 0% 15%;
  font-size: 13px;
  color: #005ea2;
  background-color: transparent;
}

.adminnav_login_logout {
  padding-left: 91%;
}

.nav_link {
  margin: 0% 6% 0% 0%;
  position: relative;
  top: 4rem;
  font-size: 24px;
}

.unselected {
  color: #a9aeb1;
}

.selected {
  color: #005ea2;
}
