.container {
  background-color: #E5E5E5;
  height: 90%;
  width: 96%;
  margin: auto;
  text-align: justify;
}
nav {
  height: 10%;
  width: 100%;
  position: relative;
  background-color: grey;
  font-size: 36px;
}
.beds {
  height: 10%;
  width: 50%;
  position: relative;
  background-color: grey;
  font-size: 36px;
}
.ringDown {
  height: 56%;
  width: 86em;
  position: relative;
  left: 53%;
  background-color: grey;
  font-size: 36px;
}
.bedContent {
  padding: 10% 10% 10% 10%;
}
.bedComponentContainer {
  padding: 0% 10% 7% 3%;
}